<app-pesquisa></app-pesquisa>

<label for="origem">Origem:</label>
<input type="text" name="origem" [(ngModel)]="origemInput" passagens.data="passagens" passagens.searchKeyword="fieldOrigem" value="origemInput">
<label for="destino">Destino</label>
<input type="text" name="destino" [(ngModel)]="destinoInput" passagens.data="passagens" passagens.searchKeyword="fieldDestino" value="destinoInput">

<!-- <select [(ngModel)]="field">
    <option value="origem">origem</option>
    <option value="destino">destino</option>
</select> -->

<table>
    <tr>
        <th>ID</th>
        <th>Origem</th>
        <th>Destino</th>
        <th>Data ida</th>
        <th>Data volta</th>
        <th>Preço</th>
    </tr>
    <tr *ngFor="let passagem of passagens | Filter: origemInput: fieldOrigem.toLowerCase() | Filter: destinoInput: fieldDestino.toLowerCase()">
        <td> {{ passagem.id }} </td>
        <td> {{ passagem.origem }}</td>
        <td> {{ passagem.destino }}</td>
        <td> {{ passagem.data_ida }}</td>
        <td> {{ passagem.data_volta }}</td>
        <td> {{ passagem.preco }}</td>
        <button (click)="comprarPassagem(passagem)">Comprar passagem</button>
    </tr>
</table>