<input type="text" [(ngModel)]="searchText" passagens.data="passagens" passagens.searchKeyword="field">

<select [(ngModel)]="field">
    <option value="origem">origem</option>
    <option value="destino">destino</option>
</select>

<table>
    <tr>
        <th>ID</th>
        <th>Origem</th>
        <th>Destino</th>
        <th>Data ida</th>
        <th>Data volta</th>
        <th>Preço</th>
    </tr>
    <tr *ngFor="let passagem of passagens | Filter: searchText: field.toLowerCase()">
        <td> {{ passagem.id }} </td>
        <td> {{ passagem.origem }}</td>
        <td> {{ passagem.destino }}</td>
        <td> {{ passagem.data_ida }}</td>
        <td> {{ passagem.data_volta }}</td>
        <td> {{ passagem.preco }}</td>
    </tr>
</table>